body {
    background: rgb(160, 160, 160);
    text-align: center;
    overflow-x: hidden;
}

h1, h2 {
    margin: 0.25em;
    font-family: 'Dancing Script', cursive;
}
h1 {
    margin-top: 1em;
}

.embed_video {
    width: 75vw;
    height: calc(75vw * 315 / 560);
}

.timer {
    font-family: sans-serif;
    display: block;
    width: fit-content;
    padding: 1.25em;
    margin: 1em auto;
    border-radius: 30px;
    background: rgb(207, 207, 207);
}

.timer__part {
    font-size: 72px;
    font-weight: bold;
}

.timer__input {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0.25em;
    border: none;
    height: 1em;
    width: 2em;
}

.timer__btn{
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
}

.timer__btn--start {
    background: #00b84c;
}

.timer__btn--stop {
    background: #ff0256;
}

